/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
/public/mix-manifest.json
.DS_Store
/Modules/.DS_Store
/public/pictures
/public/pictures/
/public/photos
/public/photos/
/public/dev/
/Modules/Admin/Config/
/Modules/Demo/Config/
/app/Models/backups/
module_status.json
